<h1>Hi! Welcome to my GitHub profile.</h1>

<p>Welcome! </br> I'm Lucas, a Full-Stack Engineer from <b>Porto, Portugal</b>.</p>
<p>I'm currently working full-time at CheckSec, while also developing and maintaining applications for various other companies as a freelancer in my spare
    time.</p>
<h3>Experienced in</h3>
<p>
    <img alt="Django"
         src="https://img.shields.io/badge/Django-test?style=for-the-badge&logo=django&labelColor=%230B4B33&color=%230B4B33">
    <img alt="HTMX"
         src="https://img.shields.io/badge/HTMX-test?style=for-the-badge&logo=htmx&labelColor=%233366CC&color=%233366CC">
    <img alt="Alpine.JS"
         src="https://img.shields.io/badge/Alpine-test?style=for-the-badge&logo=Alpine.Js&logoColor=white&labelColor=%238BC0D0&color=%238BC0D0">
    <img alt="Svelte"
         src="https://img.shields.io/badge/Svelte-test?style=for-the-badge&logo=Svelte&logoColor=white&labelColor=%23FF3E00&color=%23FF3E00">
    <img alt="PostgreSQL"
         src="https://img.shields.io/badge/PostgreSQL-test?style=for-the-badge&logo=postgresql&logoColor=white&labelColor=%234169E1&color=%234169E1">
    <img alt="WebComponents"
         src="https://img.shields.io/badge/WebComponents-test?style=for-the-badge&logo=webcomponents.org&logoColor=white&labelColor=%23D0E937&color=%23D0E937">
    <img alt="Bootstrap"
         src="https://img.shields.io/badge/bootstrap-test?style=for-the-badge&logo=Bootstrap&logoColor=white&labelColor=%237952B3&color=%237952B3">
    <img alt="SASS"
         src="https://img.shields.io/badge/sass-test?style=for-the-badge&logo=sass&logoColor=white&labelColor=%23CC6699&color=%23CC6699">
    <img alt="Tailwind"
         src="https://img.shields.io/badge/tailwind-test?style=for-the-badge&logo=Tailwind%20CSS&logoColor=white&labelColor=%2306B6D4&color=%2306B6D4">
    <img alt="Ionic"
         src="https://img.shields.io/badge/Ionic-test?style=for-the-badge&logo=ionic&logoColor=white&labelColor=%233880FF&color=%233880FF">
</p>
<h3>Minor Work with</h3>
<p>
    <img alt="React"
         src="https://img.shields.io/badge/React-test?style=for-the-badge&logo=react&logoColor=white&labelColor=%2361DAFB&color=%2361DAFB">
    <img alt="Dart"
         src="https://img.shields.io/badge/dart-test?style=for-the-badge&logo=dart&logoColor=white&labelColor=%230175C2&color=%230175C2">
    <img alt="Flutter"
         src="https://img.shields.io/badge/flutter-test?style=for-the-badge&logo=flutter&logoColor=white&labelColor=%2302569B&color=%2302569B">
    <img alt="Node"
         src="https://img.shields.io/badge/node-test?style=for-the-badge&logo=Node.JS&logoColor=white&labelColor=%235FA04E&color=%235FA04E">
    <img alt="PHP"
         src="https://img.shields.io/badge/php-test?style=for-the-badge&logo=php&logoColor=white&labelColor=%23777BB4&color=%23777BB4">
</p>
<h3>Current Projects (outside of working hours)</h3>
<hr/>
<table>
    <thead>
    <tr>
        <td><b>Projects</b></td>
        <td><b>Description</b></td>
        <td><b>Current State</b></td>
        <td><b>Stack</td>
    </tr>
    </thead>
    <tbody>
    <tr>
          <td><b>ensata</b></td>
      <td>Portal for theorical driving road exams training</td>
      <td>Finalizing initial version. Preparing for deployment.</td>
      <td>Django, HTMX, AlpineJS, Tailwind</td>
    </tr>
    <tr>
        <td><b>nitro</b></td>
        <td>Driving Schools Management Application</td>
        <td>Performance and feature improvements</td>
        <td>Django, HTMX, Bootstrap, React, Ionic</td>
    </tr>
    </tbody>
</table>
<h3>My Latest Talks</h3>
<hr/>
<table>
    <thead>
    <tr>
        <td><b>Talk</b></td>
        <td><b>Conference</b></td>
        <td><b>Type</b></td>
        <td><b>Time</b></td>
    </tr>
    </thead>
    <tbody>
        <tr>
    <td><a href="https://www.youtube.com/watch?v=SDuqa82nx90" target="_blank">
      Django and HTMX: Patterns to Success
    </a></td>
<td>DjangoCon Europe 2025/EuroPython 2025/PyCon Portugal 2025</td>
      <td>Full Talk</td>
      <td>30 minutes</td>
    </tr>
    <tr>
        <td><a href="https://youtu.be/QKKyhVewhRk" target="_blank">
            Building advanced backoffice interfaces using Django & HTMX</a></td>
        <td>PyCon Portugal 2023</td>
        <td>Full Talk</td>
        <td>21 minutes</td>
    </tr>
    <tr>
        <td><a href="https://youtu.be/8EPvq0vSLko" target="_blank">
            Django form utilities</a></td>
        <td>DjangoCon Europe 2022</td>
        <td>Lightning Talk</td>
        <td>5 minutes</td>
    </tr>
    </tbody>
</table>

<h3>Other Activities</h3>
<hr/>
<ul>
     <li>This year I've lectured a full-stack web development course for Python developers at my university.</li>
    <li>After gaining a lot of experience with <b><i>htmx</i></b>, I'm focusing on learning other skills that improve my day-to-day productivity such as vim motions and using arch linux. I'm also focusing some time on learning more about UI/UX design, ReactJS and how to use agents and LLMs properly.</li>
   <li>I'll start attending japanese lessons too.</li>
</ul>

<h3>3 Random pictures from my travels</h3>
<hr/>
<p>Recently, I'm taking some time to travel between work. Here's a random bunch of photos of my travels.
    I upload them all on Flickr.
</p>
<a href="https://www.flickr.com/photos/jlucasp25/" target="_blank">Check them out here!</a>
<hr/>

<h3>Where to find me</h3>
<a href="https://www.linkedin.com/in/jlucasp25/" target="_blank">LinkedIn</a>

------------

<p align="center">This <i>README</i> file was generated on: {{ refresh_date }}<br/>
    <a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">Based
        on the work by @thmsgbrt</a></p>
